<ion-view view-title="Objectdetails">

    <ion-nav-buttons side="left">
        <button class="button button-icon ion-navicon"></button>
        </ion-nav-buttons>
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-search"></button>
    </ion-nav-buttons>

        <ion-content>
                <ion-list>
                    <ion-item class="item-remove-animate item-avatar item-icon-right" type="item-text-wrap">
                        <h2>test</h2>
                        <p>test test</p>
                        <i class="icon ion-chevron-right icon-accessory"></i>
                        <ion-option-button class="button-positive" >
                            Edit
                        </ion-option-button>
                        <ion-option-button >
                            Delete
                        </ion-option-button>
                    </ion-item>
                </ion-list>
        </ion-content>

</ion-view>